@charset "UTF-8";
/* CSS Document */
/*== Sections ==*/
section h1 {padding:450px; text-align:center; color:white; background:#333; border-top:1px solid red; margin:0}
section:nth-child(even) h1 {background:#222;} /*on différencie la couleur 1 section sur 2*/
/*== H nav ==*/
#op-horizontalnav { background:#13b4df!important; position:fixed; z-index:1000!important; top:0; right:0; left:0; }
#op-horizontalnav .op-sectionlist {width:100%; max-width:1280px; margin:auto;padding:0; text-align:center; display:table;}
#op-horizontalnav .op-v-item {list-style:none; display:table-cell; }
#op-horizontalnav .op-v-item .op-v-link {color:#fff; padding:8px 8px;display:block;text-decoration:none; font-size:1.5em!important}
#op-horizontalnav .op-v-item .op-v-link:hover, #op-horizontalnav .op-v-link.active {background-color:#fff;color:#171717}
/*== V nav ==*/
#op-verticalnav {position:fixed; top:0; right:0; left: auto;height: 80%;display:table}
#op-verticalnav .op-sectionlist {height:100%; text-align:center; display:table-cell; vertical-align:middle}
#op-verticalnav .op-v-item {display:block}
#op-verticalnav .justify-height {}
#op-verticalnav .op-v-link {display:block; margin:12px 0}
#op-verticalnav .v-marker {width:15px; height:15px; border-radius:50%; background-color:rgba(19,180,223,.4); display:inline-block; vertical-align:middle; margin-bottom:-2px; margin-right:10px;}
#op-verticalnav .op-v-link:hover .v-marker, #op-verticalnav .op-v-item .op-v-link.active .v-marker {background-color:rgba(4,69,86,1); }
#op-verticalnav .op-v-itemdesc {display:inline-block; font-size:14px; position:absolute; white-space:nowrap; line-height:normal; padding:0 34px 0 0;vertical-align:middle}
#op-verticalnav .op-v-itemdesc .op-v-itembg{display:inline-block; background-color:rgba(0,0,0,.5); color:#fff; padding:4px 10px 6px 10px; border:1px solid rgba(160,160,160,.2); border-radius:4px; }
#op-verticalnav .op-v-link:hover .op-v-itemdesc {right:0px; }

